.title {
    color: #858584;
}

body {
    background-color: #161512;
}

/* I give the wrapper rounded edges with border-radius.
Also, I used display: inline-block so that the element behaves like a block and shrinks to fit it

Overflow: hidden is so that the 50x 50x squares do not clip out of the border, it gets clipped off.*/
.chessBoardWrapper {
    border-radius: 10px;
    border: 6px solid #161512;
    display: inline-block;
    overflow: hidden;
}

.chessBoard {
    display: grid; 
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px );
}

.square {
    height: 50px;
    width: 50px;
    
}

.square.darkSquare {
    background-color: #b58863;
}

.square.lightSquare {
    background-color: #f0d9b5;
}

